<!DOCTYPE html>
<html ng-app="calendarDemoApp">

<head>
    <title>Calendar Directive Challenge</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./main.css" />
</head>

<body ng-controller="calendarCtrl">
    <form class="form-inline">
        <div class="form-group-sm">
            <label>Select Timeframe</label>
            <select class="form-control" ng-model="calForm.month" ng-options="idx as month for (idx, month) in calRange.months">
            </select>
            <select class="form-control" ng-model="calForm.year" ng-options="year for year in calRange.years">
            </select>
        </div>
    </form>
    <calendar></calendar>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</body>

</html>
